<p id="notice"><%= notice %></p>

<h2>
  <%= @article.title %>
</h2>

<%= raw @article.body %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<hr>
<div class="row">
  <div class="comments span8">
    <h4>Comments</h4>

    <%= render @article.comments %>

    <%= render 'comments/form' %>
  </div>
</div>